/* Reinicializar margens e padding para todos os elementos */
* {
  margin:0;
  padding: 0;
}

/* Definir família de fonte e cor de fundo para o corpo */
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f0f0f0; 
}

/* Estilo para títulos h1 */
h1 {
  font-size: 2rem; 
  font-weight: bold; 
  margin-bottom: 30px; 
}

/* Estilo para parágrafos */
p {
  font-size: 1.2rem; 
  margin-bottom: 20px; 
}

/* Estilo para rótulos */
label {
  font-size: 0.875rem;
  font-style: italic;
  margin-bottom: 10px;
}

/* Estilo para campos de entrada de texto */
input[type="text"] {
  width: 30%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 1rem;
}

/* Estilo para botões */
button {
  background-color: #0093b8;
  color: #ffffff; 
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
}

/* Estilo para o contêiner da moldura */
.frame {
  width: 550px;
  height: auto;
  padding: 1px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); 
  margin: 50px auto; 
}

/* Estilo para o contêiner */
#container {
  padding: 20px; 
  text-align:left
}